*{
	padding: 0;
	margin: 0;
	text-align: center;
}
.conteiner{
	height: 100vh;
	width: 100vw;
	overflow: hidden; 
	background-image: url(imag/1619626269_18-phonoteka_org-p-fon-dlya-novelli-komnata-21.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}

.text>p{
	position: absolute;
	top: 10vh;
	left: 50vw;
	padding: 5vh;
	font-size: 40px;
	color: #d6d6d6;
	border: 0.1px solid #ffffff;
	border-radius: 40px;
	background-color: rgba(0,0,0, 0.5);
}

.nav{
	position: absolute;
	top: 50vh;
	left: 20vw;

}

.nav>a{
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	border: 2px solid #ff8000;
	border-radius: 15px;
	padding: 10px;
	background-color: rgba(0,0,0, 0.5);
	transform: 0.2s;
}

.nav>a:hover{
	background-color: rgba(0,0,0, 1);	
	transform: 0.2s;
}


.content{
	position: absolute;
	top: 30vh;
	left: 30vw;
}


.content>ul>li{
	display: flex;
	padding: 10px;
	font-size: 30px;
	color: #c0c0c0;
	border: 2px solid #80ffff;
	border-radius: 30px;
	background-color: rgba(0,0,0, 0.5);
	list-style: none;
}

.content>ul>>li>button{
	margin: 10px;
	font-size: 20px;
	border: 2px solid #80ffff;
}